{% include "base.html" %}

{% load static %}

{% block content %}
{% endblock %}
        <div class="">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="" class="d-block w-100"
                        alt="...">
                </div>
            </div>
        </div>
        <div class="container bg-light p-5 rounded">
            <div class="col-sm-8 mx-auto">
                <h1>THE COMPANY.</h1>
                <p>This example is a quick exercise to illustrate how the company description will look. For more
                    information,
                    checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently Asked
                        Questions</a> as
                    examples.</p>
                <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button
                    to toggle
                    the collapsed content.</p>
                <p>
                    <a class="btn btn-primary" href="#" role="button">View More &raquo;</a>
                </p>
            </div>
        </div>
        <div class="container bg-light p-5 rounded">
            <div class="col-sm-8 mx-auto">
                <h1>THE SERVICES.</h1>
                <p>This example is a quick exercise to illustrate how the company description will look. For more
                    information,
                    checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently Asked
                        Questions</a> as
                    examples.</p>
                <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button
                    to toggle
                    the collapsed content.</p>
                <p>This example is a quick exercise to illustrate how the company description will look. For more
                    information,
                    checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently Asked
                        Questions</a> as
                    examples.</p>
                <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button
                    to toggle
                    the collapsed content.</p>
                <p>This example is a quick exercise to illustrate how the company description will look. For more
                    information,
                    checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently Asked
                        Questions</a> as
                    examples.</p>
                <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button
                    to toggle
                    the collapsed content.</p>
                <p>This example is a quick exercise to illustrate how the company description will look. For more
                    information,
                    checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently Asked
                        Questions</a> as
                    examples.</p>
                <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button
                    to toggle
                    the collapsed content.</p>
                <p>
                    <a class="btn btn-primary" href="#" role="button">View More &raquo;</a>
                </p>
            </div>
            <div class="row bg-light p-5 rounded">
                <div class="col-sm-6 mx-auto">
                    <h1>THE SERVICES.</h1>
                    <p>This example is a quick exercise to illustrate how the company description will look. For
                        more
                        information, checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently
                            Asked
                            Questions</a> as examples.</p>
                    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                        button to
                        toggle the collapsed content.</p>
                    <p>This example is a quick exercise to illustrate how the company description will look. For
                        more
                        information, checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently
                            Asked
                            Questions</a> as examples.</p>
                    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                        button to
                        toggle the collapsed content.</p>
                    <p>This example is a quick exercise to illustrate how the company description will look. For
                        more
                        information, checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently
                            Asked
                            Questions</a> as examples.</p>
                    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                        button to
                        toggle the collapsed content.</p>
                    <p>This example is a quick exercise to illustrate how the company description will look. For
                        more
                        information, checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently
                            Asked
                            Questions</a> as examples.</p>
                    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                        button to
                        toggle the collapsed content.</p>
                    <p>
                        <a class="btn btn-primary" href="#" role="button">View More &raquo;</a>
                    </p>
                </div>
                <div class="col-sm-6 mx-auto">
                    <h1>THE SERVICES.</h1>
                    <p>This example is a quick exercise to illustrate how the company description will look. For
                        more
                        information, checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently
                            Asked
                            Questions</a> as examples.</p>
                    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                        button to
                        toggle the collapsed content.</p>
                    <p>This example is a quick exercise to illustrate how the company description will look. For
                        more
                        information, checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently
                            Asked
                            Questions</a> as examples.</p>
                    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                        button to
                        toggle the collapsed content.</p>
                    <p>This example is a quick exercise to illustrate how the company description will look. For
                        more
                        information, checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently
                            Asked
                            Questions</a> as examples.</p>
                    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                        button to
                        toggle the collapsed content.</p>
                    <p>This example is a quick exercise to illustrate how the company description will look. For
                        more
                        information, checkout the <a href="#">Services</a> we provide and our <a href="#">Frequently
                            Asked
                            Questions</a> as examples.</p>
                    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                        button to
                        toggle the collapsed content.</p>
                    <p>
                        <a class="btn btn-primary" href="#" role="button">View More &raquo;</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-4 ">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>